.vs/
packages/
Platforms/macOS/bin/
Platforms/macOS/obj/
Platforms/GTK/bin/
Platforms/GTK/obj/
Platforms/iOS/bin/
Platforms/iOS/obj/
Platforms/Android/obj/
Platforms/Android/bin/
Platforms/WPF/obj/
Platforms/WPF/bin/
Platforms/UWP/obj/
Platforms/UWP/bin/
Platforms/UWP/BackgroundNotificationTask/obj/
Platforms/UWP/BackgroundNotificationTask/bin/
Platforms/cli/bin/
Platforms/cli/obj/
*.csproj.user
debuginfo.txt
Releases/
*.pfx
Platforms/UWP/AppPackages
Platforms/UWP/BundleArtifacts
_pkginfo.txt
